include ../rate-btn/rate-btn

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.roomNumber - Номер апартаментов.
  options.roomType - Тип апартаментов (люкс).
  options.price - Стоимость апартаментов.
  options.priceTime - Пометка "в сутки" или "в неделю".
  options.countReviews = '0' - Количество отзывов.
  options.rating = '0' - Оценка или рейтинг апартаментов.
  options.gallery - Галерея картинок.
  options.gallery[0] - Путь до картинки.

mixin card-product(options = {})
  -
    const {
      classes = '',
      id = false,
      roomNumber = '',
      roomType = false,
      price = '',
      priceTime = '',
      countReviews = '0',
      rating = '0',
      gallery = false
    } = options;

  article.card-product.js-card-product(
    class = classes,
    id = id ? id : false
  )
    if gallery
      div.card-product__gallery
        div.card-product__carousel.js-card-product__carousel.owl-carousel
          each val, index in gallery
            div.card-product__img-wrapper
              if val
                img.card-product__img(
                  src = val,
                  alt = 'фото номера ' + roomNumber
                )
    div.card-product__content
      div.card-product__room-info
        div.card-product__room-name
          span.card-product__symbol №
          span.card-product__room-number #{roomNumber}
          if roomType
            span.card-product__room-type #{roomType}
        div.card-product__room-price
          span.card-product__room-number-price #{price}
          span.card-product__room-payment-period  #{priceTime}
      div.card-product__reviews-container
        div.card-product__stars-wrapper
          +rate-btn({
            value: rating, 
            disabled: true
          })
        div.card-product__count-reviews-wrapper
          span.card-product__reviews-count-number #{countReviews}
          span.card-product__reviews-count-text  Отзывов